@import "../../../style/variables";

recipe-dashboard {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    &>section {
        padding: 1.5rem;
        width: 25rem;
        flex-wrap: wrap;
        height: 10rem;
        -webkit-box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.29);
        -moz-box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.29);
        box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.29);
        background-color: #f7f7f7;
        &>a{
          color: #9d9d9d,
        }
        h1 {
            font-size: 2rem;
            font-weight: bold;
            margin: 0px;
        }
    }
}